<nav class="site-nav">
  <div class="nav-inner">
    <a class="brand" href="index.html">
      <img src="images/logo.png" alt="Rowan ACDA logo" class="logo"/>
      <span class="brand-text">Rowan ACDA</span>
    </a>
    <button class="nav-toggle" aria-label="Toggle menu" aria-expanded="false">&#9776;</button>
    <ul class="nav-links">
      <li><a href="index.html" data-page="home">Home</a></li>
      <li><a href="events.html" data-page="events">Events</a></li>
      <li><a href="chapter.html" data-page="chapter">Chapter</a></li>
      <li><a href="eboard.html" data-page="eboard">E-Board</a></li>
      <li><a href="resources.html" data-page="resources">Resources</a></li>
    </ul>
    <div class="auth-area">
      <div id="profile">
        <img id="avatar" src="" alt="" />
        <a id="username" class="name" href="account.html" aria-label="Open My Account"></a>
      </div>
  
    </div>
    
  </div>
</nav>
